html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body, #root {
  height: 100vh;
  margin: 0;
}

body, input, select, textarea {
  font-size: 1.6rem;
  font-family: helvetica;
}

.grid-container {
  display: grid;
  grid-template-areas : "header"
  "main"
  "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

header {
  display: flex;
  align-items : center;
  grid-area: header;
  padding: 1.5rem;
  background-color: #333;
  color: white;
}

header a {
  color: white;
  text-decoration: none;
}

header a:hover {
  color: #aa0000;
}

main {
  grid-area: main;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: footer;
  background-color: #333;
  color: white;

}